#app-container {
  display: flex;
}

#sidebar {
  margin-right: 10px;
  max-width: 150px;
  background-color: #888;
}

#folder-contents {
  flex: 1;
  background-color: #ddd;
}

.fl-item {
  cursor: pointer;
}

.fl-icon {
  font-size: 56px;
}

.fl-text {
  text-align: center;
}

.item {
  cursor: default;
}