#app-container {
  display: flex;
}

#sidebar {
  margin-right: 10px;
  max-width: 150px;
  background-color: #888;
}

#vl {
  flex: 1;
  background-color: #ddd;
}

.pl-item {
  cursor: pointer;
}

.pl-item-selected {
  font-weight: bold;
}

.pl-icon {
  font-size: 42pt;
}

.pl-mover {
  font-size: 24pt;
  float: right;
  line-height: 42pt;
}

.pl-text {
  text-align: center;
}

.vl-item {
  cursor: default;
}

.vl-item-selected {
  font-weight: bold;
}